# 1. Introducttion

Name: Devi Nirfana Hermawan<br>
Batch: HCK-016

This notebook will show the model inference from the model that build for Phase 1 Milestones 2.

# 2. Import Library

In [1]:
# Data Manipulation
import pandas as pd 

# Model loading
import pickle

# 3. Load Model

In [12]:
# load the model
with open('deployment/model.pkl', 'rb') as file_1:
    model = pickle.load(file_1)

The model is loaded using pickle

# 4. Load Data

In [17]:
# Create Dummy Data
data_dummy = {
    'step': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'type': ['TRANSFER', 'PAYMENT', 'DEBIT', 'CASH_OUT', 'CASH_IN', 'TRANSFER', 'PAYMENT', 'DEBIT', 'CASH_OUT', 'CASH_IN'],
    'amount': [1000, 1500, 2000, 2500, 3000, 3500, 40000, 4500, 5000, 5500],
    'nameOrig': ['C12345', 'C12346', 'C12347', 'C12348', 'C12349', 'C12350', 'C12351', 'C12352', 'C12353', 'C12354'],
    'oldbalanceOrg': [5000, 6000, 7000, 8000, 9000, 1000990, 11000, 12000, 13000, 14000],
    'newbalanceOrig': [4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500],
    'nameDest': ['M12345', 'M12346', 'M12347', 'M12348', 'M12349', 'M12350', 'M12351', 'M12352', 'M12353', 'M12354'],
    'oldbalanceDest': [3000, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500],
    'newbalanceDest': [4000, 5000, 6000, 7000, 8000, 908800, 10000, 11000, 12000, 13000],
    'isFlaggedFraud': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
}

# Create DataFrame
df_data_dummy = pd.DataFrame(data_dummy)

# Display DataFrame
df_data_dummy.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFlaggedFraud
0,1,TRANSFER,1000,C12345,5000,4000,M12345,3000,4000,0
1,2,PAYMENT,1500,C12346,6000,4500,M12346,3500,5000,0
2,3,DEBIT,2000,C12347,7000,5000,M12347,4000,6000,0
3,4,CASH_OUT,2500,C12348,8000,5500,M12348,4500,7000,0
4,5,CASH_IN,3000,C12349,9000,6000,M12349,5000,8000,0

The dummy data have been successfully loaded.

# 5. Model Prediction

In [18]:
# Predict the Fraud transaction
predicted_fraud = model.predict(df_data_dummy)
predicted_fraud

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

The model can predict the data without needing preprocessing because it was built using column transformers and a pipeline.

In [23]:
# assign prediction to the data
df_data_dummy['prediction'] = predicted_fraud
df_data_dummy['prediction'] = df_data_dummy['prediction'].map({1: 'Fraud Transactions', 0: 'Not Fraud Transactions'})

# return readable prediction data from user
df_data_dummy[['type','nameOrig', 'nameDest', 'prediction']]

       type nameOrig nameDest              prediction
0  TRANSFER   C12345   M12345  Not Fraud Transactions
1   PAYMENT   C12346   M12346  Not Fraud Transactions
2     DEBIT   C12347   M12347  Not Fraud Transactions
3  CASH_OUT   C12348   M12348  Not Fraud Transactions
4   CASH_IN   C12349   M12349  Not Fraud Transactions
5  TRANSFER   C12350   M12350  Not Fraud Transactions
6   PAYMENT   C12351   M12351  Not Fraud Transactions
7     DEBIT   C12352   M12352  Not Fraud Transactions
8  CASH_OUT   C12353   M12353  Not Fraud Transactions
9   CASH_IN   C12354   M12354  Not Fraud Transactions